h1{
    text-align: center;

}
#task{
    width: 94%;
    margin-left: .01%;
    height:30px;
}
#save{
    margin-left: .1%;
    background-color: rgb(115, 113, 228);
    height: 35px;
    font-weight: bolder;
}